{
    "version": "0.2.0",
    "configurations": [
        {%- if with_fastapi_api %}
        {
            "name": "API [debug]",
            "type": "debugpy",
            "request": "launch",
            "module": "uvicorn",
            "args": [
                "api:app",
                "--reload"
            ],
            "jinja": true,
            "justMyCode": true
        },
        {%- endif %}
        {
            "name": "pytest [debug]",
            "type": "debugpy",
            "request": "launch",
            "program": "${file}",
            "purpose": [
                "debug-test"
            ],
            "console": "integratedTerminal"
        },
        {
            "name": "Python file [debug]",
            "type": "debugpy",
            "request": "launch",
            "program": "${file}",
            "console": "integratedTerminal"
        }
    ]
}